<ion-header>
  <ion-toolbar>
    <div class="ion-padding" style="text-align: center;"> 
      <img src="../../assets/yos.PNG">
      <ion-title>voucher</ion-title>
      </div>
  </ion-toolbar>
</ion-header>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
</head>

<ion-content fullscreen>

  <body>
      <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-card>
                      <ion-card-content>
                          <img style ="width:80 px; height:80px;" src="assets/voucer.jpeg">
                          <h5>Diskon senin happy</h5>
                          <h6>segera lakukan pesanan agar harimu asik,kami memberi voucher diskon perjalanan sebesar 10%</h6>
                      </ion-card-content>
                  </ion-card>
              </ion-col>
          </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <img style ="width:80 px; height:80px;" src="assets/voucer.jpeg">
                        <h5>Parade Diskon </h5>
                        <h6>segera lakukan pesanan agar harimu asik,kami memberi voucher diskon perjalanan sebesar 40%</h6>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
  </body>

</ion-content>
