<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-card routerLink="/info-bus">
    <ion-img style ="width:80 px; height:80px;" src="assets/infobus.jpeg"></ion-img>
      <ion-card-content>
        Info Bus
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/cek-jadwal">
      <ion-img style ="width:80 px; height:80px;"src="assets/cekjadwal.jpeg"></ion-img>
        <ion-card-content>
          Cek Jadwal
        </ion-card-content>
      </ion-card>

      <ion-card routerLink="/pemesanan">
        <ion-img style ="width:80 px; height:80px;" src="assets/pemesanan.jpeg"></ion-img>
          <ion-card-content>
            pemesanan
          </ion-card-content>
        </ion-card>

    <ion-card routerLink="/pembayaran">
      <ion-img style ="width:80 px; height:80px;" src="assets/pembayaran.jpeg"></ion-img>
         <ion-card-content>
          Pembayaran
        </ion-card-content>
      </ion-card>

      <ion-tabs>
        <ion-tab-bar slot="bottom">
        <ion-tab-button tab="music">
          <ion-label>Beranda</ion-label>
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="pe">
          <ion-label>Perjalanan</ion-label>
          <ion-icon name="clipboard-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="Akun" (click)="akun">
          <ion-label>Akun Saya</ion-label>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-content>
