<ion-content padding class="background">

  <h4 class="title">Rincian Pembayaran</h4>
  <div class="container">
    <ion-chip style="color: white;" (click)="dismiss()">
      <ion-icon name="chevron-back-outline" style="color: white;"></ion-icon>
      <ion-label> Back </ion-label>
    </ion-chip>
    <div class="container">
      <!-- data siswa -->
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h5 style="font-size: 16px; color: black;">Total Pembayaran</h5>
            </ion-col>
            <ion-col>
              <h5 style="text-align: right; font-size: 16px; color: red;">Rp.500.000</h5>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- kode bayar -->
        <ion-grid class="detail">
          <ion-row style="border-bottom: 2px solid;">
            <ion-col size="12">
              <ion-item>
                <ion-icon name="card-outline"></ion-icon>
                <ion-label style="font-size: 16px;  margin-left: 2%; margin-top: 8%;"> indomart/ceriaapril</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <p>kode pembayaran </p>

          </ion-row>
          <ion-row>
            <h3 style="margin-left: 25%; margin-top: 0%; color: red
            ;"> X13252HDFWA</h3>
          </ion-row>
          <!-- cara bayar -->
        </ion-grid>
        <ion-grid class="detail" style="height: auto; padding-bottom: 5%;">
          <ion-row>
            <p style="margin-left: 7%;">mohon ikuti langkah langkah berikut</p>
          </ion-row>
          <ion-row>
            <p>1. sampaikan pada kasir indomart untuk melakukan pembayaran</p>
          </ion-row>
          <ion-row>
            <p>2. tunjukkan kode pembayaran mu kepada kasir</p>
          </ion-row>
          <ion-row>
            <p>3. setelah pembayaran selesai kamu akan mendapatkan bukti pembayaran,<br>
              mohon simpan bukti pembyaran apabila suatu waktu dibutuhkan verifikasi </p>
          </ion-row>
          <ion-row>
            <p>4. setelah pembayaran berhasil tagihan mu akan terverifikasi secara otomatis</p>
          </ion-row>


        </ion-grid>

      </ion-card>



    </div>

  </div>


</ion-content>
