<ion-header>
  
</ion-header>
<div class="ion-padding" style="text-align: center;"> 
  <img src="../../assets/yos.PNG"> 
  
  </div>

<ion-content>
  <p> Pilih Metode Pembayaran : </p>

  <img style ="width:60 px; height:60px;" src="assets/dana.jpeg">
  <br>
  <br>
  <br>
  <img style ="width:60 px; height:60px;" src="assets/banktransfer.jpeg">
  <br>
  <br>
  <br>
  <img style ="width:60 px; height:60px;" src="assets/tunai.jpeg">
  <br>
  <br>
  <br>
  <br>

  <ion-button expand="block" (click)="pembayaran-utama()"color="warning">Konfirmasi</ion-button>
</ion-content>
