<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <img src="../../assets/yos.PNG" class="logo"/>
      <img src="../../assets/bus.PNG" class="logo"/>  
      
      <ion-item>
        <ion-label position="floating">User Name</ion-label>
       <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
      
        <ion-input type="password" [(ngModel)]="password" ></ion-input>
       
      </ion-item>
      <br>
  <p>
    Mau Coba YoSchool? <ion-router-link href="daftar" class="underline" >Daftar Sekarang</ion-router-link>
  </p>
  <p>
    <ion-router-link href="#" class="underline" >Lupa Password</ion-router-link>
  </p>
  <section>
  
    <ion-button expand="block" (click)="login()"color="warning">Masuk</ion-button>
  
  </section>
  
    </div>
  </div> 
</ion-content>