<ion-app>
  <ion-header [translucent]="true">
    
  </ion-header>
  
  <ion-content [fullscreen]="true">
  

       
        
        <div class="ion-padding" style="text-align: center;"> 
          <img src="../../assets/yos.PNG">
          <img src="../../assets/bus.PNG">
         
        </div>
        
      <ion-item>
        <ion-label position="floating">Nama Lengkap*</ion-label>
       <ion-input type="text" [(ngModel)]="user.fullname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
       <ion-input type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
      
        <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
       
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tulis Ulang Password</ion-label>
      
        <ion-input type="password" [(ngModel)]="user.password_check" ></ion-input>
       
      </ion-item>

  <div class="ion-padding">
  <br>
  <br>

    <ion-button expand="full" (click)="daftar()" [disabled]="loading ||user.password == undefined || user.password != user.password_check "color="warning">{{loading ? 'Tunggu....':'Daftar'}}</ion-button>
    </div>
    <div class="ion-padding ion-text-center">
    <ion-button  routerLink="login" routerDirection="forward">Login</ion-button>
    <ion-button  routerLink="login" routerDirection="forward">Lupa Sandi</ion-button>
</div>
  
  
  
  
  
  
  </ion-content>
  </ion-app>
  