<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <img src="../../assets/yoschool.PNG" class="logo"/>
    
      <h3>Pesan Online bus sekolah bersama Yoschool</h3>
<br>
<br>
<br>
<br>
      <ion-button expand="block" class="main-button" routerLink="daftar" routerDirection="forward" color="warning">Daftar</ion-button>
      <ion-button expand="block" class="main-button" routerLink="login" routerDirection="forward" color="warning">Masuk</ion-button>
    </div>
  </div> 
  
</ion-content>
